#photoForm {
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 400px;
  border: 1px solid #aaa;
  box-shadow: 0 0 5px #aaa;
}
#photoForm .photoInput {
  display: block;
  margin-top: 20px; 
}
#photoForm #file {
  display: none;
}
#photoForm .photo {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
}