extends ../layout

block css
  link(rel='stylesheet', href='/css/new-photo.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Parisienne' )

block content
  div.header
    h1.title iPhotoSharing
  form#photoForm
    div.photo-fieldset
      input#file.upload-input(type='file', name='file', accept='image/*')
      a#choose.upload-button.upload-button-animation(href='javascript:void(0);') Choose
    div.photo-form-popup
      div.photo-form-details
        img#preview.photo-form-popup-control
        textarea#description.photo-form-control.photo-form-popup-control(name='description', placeholder='Description')
        input#cloudToken(name='token', type='hidden', value= token)
        input#cloudKey(name='key', type='hidden', value= key)
        button#cancel.photo-form-button.photo-form-popup-control(type='button') Cancel
        button#submit.photo-form-button.primary-button.photo-form-popup-control(type='submit' name='submit') Submit
  div#photoDetails
    img#result
    label.photo-form-label URL:
    span#sharingLink
    label.photo-form-label Passcode:
    span#passcode
    
block js
  script(src='/js/exif.js')
  script(src='/js/new-photo.js')
