extends ../layout

block css
  link(rel='stylesheet', href='/css/view-photo.css')
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Parisienne" )
block content
  div#header
    a(id='delete', href='javascript:void(0);') Delete
    a(id='complaint', href='javascript:void(0);') Complaint
  div#deleteDialog.popup
    input(id='passcode')
    input(id='delete-btn', class='popup-btn', type='button', value='Delete')
    input(id='cancel-btn', class='popup-btn', type='button', value='Cancel')
  div#container
    img#photo
    p#description
    div#map-canvas
    div#SOHUCS

block js
  script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyB_UXUmEZTpdrGW3Yk-AAvhLNajCu_d2YA&sensor=true')
  script(src='/js/view-photo.js')
  