extends ../layout

block css
  link(rel='stylesheet', href='/css/view-photo.css')
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Parisienne" )
block content
  div.header
    a#new.btn(href='javascript:void(0);') New
    a#complaint.btn(href='javascript:void(0);') Complaint
    a.title(href='javascript:void(0);') iPhotoSharing
  div#deleteDialog.popup
    div.popup-content
      p#deleteInfo.photo-info If you are the image creater, at first, please spend 5s to double confirm you are really want to delete the image. Ok, you could input passcode (you know where it is) in the below textfield and click "Delete" button.
      input#passcode.textfield(placeholder='Passcode')
      button#deleteBtn.btn(type='button') Delete
      button#cancelBtn.btn(type='button') Cancel
  div#container
    img#photo
    a#mapLink.btn(href='javascript:void(0);') Location
    div#descriptionGroup.group
      label.photo-form-label Description:
      p#description.photo-info
    a#deleteLink.btn(href='javascript:void(0);') How to delete the image?
    //div#SOHUCS
    div#disqus_thread
  div#mapContainer.popup
    div.popup-content
      div#mapCanvas
      button#closeMap.btn(tye='button') Cancel
  div#toast

block js
  script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyB_UXUmEZTpdrGW3Yk-AAvhLNajCu_d2YA&sensor=true')
  script(src='/js/view-photo.js')
  