doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
    script(src='/components/jquery/dist/jquery.min.js')
  body
    block content
    block js
